/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2, h3 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

.controls button, .controls select{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.controls input {
    padding: 10px;
    font-size: 16px;
}

.sort {
    background-color: #c1ffb3;
}

.search {
    background-color: #b3e6ff;
}

.modify {
    background-color: #ffcc99;
}